<% layout('_inc/layout') -%>

<h1 class="logo logo--big">
  <img src="/img/peak-logo.svg" alt="Peak Logo">
</h1>

<div class="notification notification--is-hidden" id="notification"></div>

<form action="#" method="post" id="signup-form">
  <div class="input-wrapper" data-error-msg="Please enter a valid username">
    <input id="signup-username-input" name="username" type="text"
    placeholder="Create a username" required>
  </div>

  <div class="input-wrapper" data-error-msg="Please enter a valid email">
    <input id="signup-email-input" name="email" type="email"
    placeholder="Your email address" required>
  </div>

  <div class="input-wrapper" data-error-msg="Please enter a valid password">
    <input id="signup-pass-input" name="password" type="password"
    placeholder="Create a password" required>
  </div>

  <span id="signup-send-btn" class="button--send ss-icon ss-pika">
    <span class="button--send__icon"></span>
  </span>
</form>