<header class="masthead">
    <div class="container">
        <a href="/">
            <h1 class="logo"><img src="/img/upfit-logo-white.svg" alt="Upfit Logo"></h1>
        </a>
        <nav>
            <ul class="list list--inline">
                <li>
                    <a href="javascript:void(window.open('https://www.facebook.com/sharer/sharer.php?u='+window.location.href,'Share Upfit','width=550,height=450'));"
                    target="_blank" class="btn btn--clean" title="Share Upfit on Facebook">
                        <span class="ss-icon ss-social">facebook</span>
                        Share
                    </a>
                </li>
                <li>
                    <a href="javascript:void(window.open('https://twitter.com/intent/tweet?text=Train together with your favorite athletes using Upfit app, by @_whitespell '+window.location.href, 'Tweet about Upfit','width=550,height=450'));"
                    target="_blank" class="btn btn--clean" title="Check Upfit out on Twitter">
                        <span class="ss-icon ss-social">twitter</span>
                        Tweet
                    </a>
                </li>
                <li>
                    <a class="btn" href="/signup?publisher=1" title="Sign up as a publisher">
                        Sign up as a publisher
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>