<footer class="mastfoot">
    <div class="container">

		<ul class="ul--inline">
    		<li><a href="/privacy-policy">
    			Privacy Policy
    		</a></li>
    		<li><a href="/terms-of-service">
    			Terms of Service
    		</a></li>
    	</ul>

		<div>
	        <a href="https://whitespell.com" title="Whitespell Website">
	            <p class="mastfoot__content">Made with love by Whitespell, Inc</p>
	        </a>
        </div>
    </div>
</footer>