<footer class="mastfoot">
    <div class="container">
        <a href="https://whitespell.com" title="Whitespell Website">
            <div class="mastfoot__logo">
                <img src="/img/whitespell-logo-grey.svg" />
            </div>
            <p class="mastfoot__content">Made with ❤ by Whitespell, Inc</p>
        </a>
    </div>
</footer>