* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html,body {
	min-height: 100%;
}

body {
	font: $main-weight $size-m $main-family;
	color: $base-color;
	line-height: $line-height;
}

.container {
	width: $xl-container-width;
	margin: 0 auto;
	overflow: hidden;
}