.text-center {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-white {
	color: $white !important;
}

.padding-top-l {
	padding-top: $margin-l;
}

.padding-top-m {
	padding-top: $margin-m;
}
.padding-btm-m {
	padding-bottom: $margin-m;
}

.is-hidden {
    display: none;
    
    &.is-hidden--is-visible {
        display: block;
    }
}