* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font: $main-weight $size-m $main-family;
	color: $base-color;
	line-height: $line-height;
	overflow: hidden;
}

.bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

	//background-image: url(/img/skater.jpg);
	background-color: $dark;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&:after {
		content: '';

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: $dark;
		opacity: .8;

		z-index: 1;
	}
}

.container {
	width: $md-container-width;
	margin: 0 auto;
	overflow: hidden;
}

.content-wrapper {
	margin-top: 10em;
}

img {
	width: 100%;
}

.logo {
	max-width: 100px;
	margin-bottom: $margin-m;
	display: inline-block;

	&.logo--big {
		max-width: 200px;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-weight: $bold-weight;
	line-height: $heading-line-height;
	margin-bottom: $margin-m;
}

h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}

p {
	margin-bottom: $margin-m;
}

a {
	color: $white;
	text-decoration: none;
}

a.btn {
	font: $main-weight $size-s $main-family;

	@include border($color: $accent);
	background-color: $accent;
	color: $white;

	padding: $margin-s $margin-m;
	border-radius: $border-radius;

	display: inline-block;
	@include transition(all);

	&.btn--outlined {
		background-color: rgba($accent, .2);
	}

	&:hover {
		background-color: $accent;
		color: $white;
	}
}

.masthead {
	font-size: $size-s;
	padding-top: $margin-m;

	.logo {
		float: left;
	}

	nav {
		float: right;
	}
}

.mastfoot {
	position: fixed;
	bottom: $margin-m;
	left: 0;
	right: 0;
	text-align: center;

	font-size: $size-s;
	color: $white;
}

.column.two-third {
	@include column(7);
}

.column.one-third {
	@include column(5);
}

.text-center {
	text-align: center;
}