.masthead {
    font-size: $size-s;
    padding: $margin-m 0 $margin-s 0;
    overflow: hidden;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .logo {
        float: left;
        margin: 0;
    }

    nav {
        float: right;
    }
}