.mastfoot {
    padding: $margin-l 0;
    color: $grey-light;

    font-size: $size-s;
    text-align: center;

    a {
        color: $grey-light;
        text-decoration: none;
    }

    &__logo {
        height: 40px;
        width: auto;
        display: inline-block;

        margin-right: $margin-m;
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
        }
    }

    &__content {
        overflow: hidden;
        display: inline-block;
        margin: 0;
        padding-bottom: 8px;
    }
}