.masthead {
    padding: $margin-l 0 $margin-s 0;
    overflow: hidden;

    .btn {
        color: $white;
    }

    .logo {
        float: left;
    }

    .logo, .list {
        margin: 0;
    }

    nav {
        float: right;
        overflow: hidden;
    }
}