.mastfoot {
    position: fixed;
    bottom: $margin-m;
    left: 0;
    right: 0;
    text-align: center;

    color: $white;

    .list {
        font-size: $size-l;
        margin-bottom: $margin-s;
    }
}