.mastfoot {
    margin-top: $margin-l;
    text-align: center;

    padding: $margin-m 0;
    color: $white;

    .container {
        max-width: 400px;
    }

    .list {
        font-size: $size-l;
        margin-bottom: $margin-s;
    }
}