$main-container-width: 960px;
$md-container-width: 738px;
$sm-container-width: 550px;
$xs-container-width: 90%;


//COLORS
$white: #fff;
$base-color: $white;
$accent: #2e88bf;


//TYPOGRAPHY
$main-family: 'aktiv-grotesk-std', 'Source Sans Pro', Helvetica, Arial, sans-serif;

$main-weight: 300;
$bold-weight: 500;

$line-height: 1.5em;
$heading-line-height: 1.5em;

$size-s: .85em;
$size-m: 18px;
$xs-size-m: 16px;

//SPACING
$margin-s: .5em;
$margin-m: 1em;
$margin-l: 2em;

$padding-m: $margin-s $margin-s+5;


//BORDERS
$border-style: solid;
$border-width: 2px;
$border-radius: 5px;


//ANIMATIONS
$transition-duration: .3s;
$transition-timing: ease;