<% layout('../_inc/layout') -%>

<div class="bg"></div>

<div class="container container--push text-center text-white">

    <div class="logo logo--big">
        <img src="/img/peak-logo.svg" />
    </div>
    <h5>Change your Peak password</h5>

    <div class="notification notification--is-hidden" id="notification"></div>

    <form action="#" method="post" id="forgot-password-form">
        <div class="input-wrapper" data-error-msg="Enter a valid token">
            <input id="token-input" name="token" type="text"
                   autocomplete="off" placeholder="Safety token" required>
        </div>

        <div class="input-wrapper" data-error-msg="Enter a valid username">
            <input id="username-input" name="username" type="text"
                   autocomplete="off" placeholder="Username" required>
        </div>

        <div class="input-wrapper" data-error-msg="Please enter a valid password">
            <input id="new_password-input" name="new_password" type="password"
                   placeholder="New Password" required>
        </div>

        <div class="input-wrapper" data-error-msg="Please enter a valid password"
                                   data-match-error-msg="Needs to match the password field above">
            <input name="repeat_new_password" type="password"
                   placeholder="Confirm New Password" data-match="new_password-input" required>
        </div>

        <a href="#" class="button--send" id="forgot-password-form__send-btn">
            <span class="button--send__icon-wrapper ss-icon ss-pika">
                <span class="button--send__icon-wrapper__icon button--send__icon-wrapper__icon--key"></span>
            </span>
            <span class="button--send__text-wrapper">
                Change your password
            </span>
        </a>
    </form>

</div>