extends ./inc/template

block pageVars
  - var pageTitle = ""
  - var pageDescription = "Track your sports life"

block pageContent
  .bg
  .container

    section.info
      h1#logo
        img(src="/img/peak-logo.svg" alt="Peak Logo")
      h5
        b Track your sports life,
        |  compare yourself with your favorite athletes and much more that doesnt fit in here

      section.sign-up
        p
          b Sign up now
          |  and make sure you won't miss out when we release
        form(action="#" method="post")#email-form
            .input-wrapper
                input#email-input(name="email" type="email" placeholder="dannycrane@gmail.com" required).input-wrapper__input
                span.input-wrapper__icon-wrapper.ss-icon.ss-standard#email-send-btn
                    span.input-wrapper__icon-wrapper__icon

    section.preview
      img(src="/img/peak-iphone-preview.jpg" alt="Peak Preview")

