.btn {
    font: $main-weight $size-s $main-family;

    @include border($color: $accent);
    background-color: $accent;
    color: $white;

    text-decoration: none;

    padding: $margin-s $margin-m;
    border-radius: $border-radius;

    display: inline-block;
    @include transition(all);

    &:hover {
        background-color: $accent !important;
        color: $white !important;
    }

    .ss-icon {
        display: inline-block;
        position: relative;
        top: 2px;
        margin-right: $margin-xs;
    }
}

.btn.btn--outlined {
    background-color: rgba($accent, .2);
}

.btn.btn--clean {
    padding: 0;
    color: $base-color;
    background-color: transparent !important;
    border: none;
}