.btn {
    font: $main-weight $size-s $main-family;

    @include border($color: $accent);
    background-color: rgba($accent, .8);
    color: $white;

    text-decoration: none;

    padding: $margin-s $margin-m;
    border-radius: $border-radius;

    display: inline-block;
    @include transition(all);

    line-height: 1em;

    &:hover {
        background-color: rgba($accent, 1);
    }

    .ss-icon {
        display: inline-block;
        position: relative;
        top: 2px;
        margin-right: $margin-xs;
    }
}

.btn.btn--cta {
    font-size: $size-m;
    padding: $margin-s $margin-l;
    background-color: rgba($accent-alt, .8);
    border-color: $accent-alt;

    margin-bottom: 1px;

    &:hover {
        background-color: rgba($accent-alt, 1);
    }
}

.btn.btn--clean {
    padding: 0;
    color: $base-color;
    background-color: transparent !important;
    border: none;
}

.btn.btn--download {

    padding: 1em 1.5em; 

    &:before {
        font-size: 1.1em;
        font-family: 'devicons';
        
        position: relative;
        top: 2px;

        margin-right: .3em;
    }

    &.btn--download--apple {
        background-color: rgba($accent, .9);
        border-color: $accent;

        &:before {
            content: "\e611";
        }
    }

    &.btn--download--android {
        background-color: rgba($accent-alt, .9);
        border-color: $accent-alt;

        &:before {
            content: "\e60e";
        }
    }

}