.notification {
    font-size: $size-s;
    padding: $margin-s $margin-m;
    background-color: rgba($red, .8);
    margin-bottom: $margin-m;

    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    @include border($color: $red);

    border-radius: $border-radius;

    &.notification--success {
        background-color: rgba($accent, .8);
        @include border($color: $accent);
    }

    &.notification--is-hidden {
        display: none;
    }
}