//fatablet
@include media($sm-container-width, $md-container-width){

    .container {
        width: $sm-container-width;
    }

    .content-wrapper {
        margin-top: 6em;
    }
}

//mobile
@include media($max-width: $sm-container-width){

    body {
        font-size: $xs-size-m;
    }

    h3 {
        font-size: 1.6em;
    }

    .container {
        width: $xs-container-width;
    }

    .content-wrapper {
        margin-top: 2em;
    }

    .masthead {
        nav {
            width: 100%;
            float: none;
        }
    }

    .logo {
        max-width: 80px;

        &.logo--big {
            max-width: 160px;
        }
    }

    .column {
        &.one-third,
        &.two-third {
            @include column(12);
        }
    }

}