//BIG SCREEN DOWN TO TABLET
@include media($md-container-width, $xl-container-width){
	.feature__preview {
		@include border(bottom, $accent);
	}
}

//SMALL DESKTOP
@include media($lg-container-width, $xl-container-width){

	.container {
		width: $lg-container-width;
	}

}


//TABLET
@include media($md-container-width, $lg-container-width){

	.container {
		width: $md-container-width;
	}

	.hero {
		height: 650px;

		&__content__title {
			padding-top: 3em;
		}
	}

	.feature {
		.feature__preview-wrapper {
			@include column(5);
		}

		.feature__content-wrapper {
			padding-right: $margin-l;
			@include column(7);
		}

		&.feature--reversed {
			.feature__content-wrapper {
				padding-left: $margin-l;
			}	
		}

		.testimonial__content__logo {
			display: none;
		}

		&__preview {
			&__img-wrapper {
				max-width: 300px;
			}
		}
	}

}


//TABLET DOWN
@include media($max-width: $md-container-width){
	.column.column--half {
		@include column(12);
	}

	.hero {
		height: 600px;

		&__content__title {
			padding-top: 2em;
		}
	}

	.feature {

		.testimonial__content__logo {
			display: none;
		}

		&__preview {
			max-width: 280px;
			margin: 0 auto;

			&__img-wrapper {
				max-width: 250px;
			}
		}
	}
}


//FABLET
@include media($sm-container-width, $md-container-width){

	.container {
		width: $sm-container-width;
	}

	.feature {
		padding-top: $margin-xl;
	}

}


//MOBILE
@include media($max-width: $sm-container-width){

	body {
		font-size: 14px;
	}

	.container {
		width: $xs-container-width;
	}

	.masthead {
		nav {
			float: left;
			text-align: left;
			padding-top: $margin-s;

			a.btn {
				display: inline-block;
				margin-top: $margin-xs;
			}
		}
	}

	.hero {
		height: 550px;

		&__content__title {
			padding-top: 1em;
		}
	}

	.feature {
		padding-top: $margin-l;

		.testimonial__photo {
			width: 40px;
			height: 40px;
		}
	}

	.section {
		padding: 4em 0;
	}

	form.form--horizontal .input-wrapper {
		display: block;
		margin-right: 0;
		margin-bottom: $margin-s;
		width: 100%;
	}
}