//fatablet
@include media($sm-container-width, $md-container-width){

    .container {
        width: $sm-container-width;
    }

    .content-wrapper {
        margin-top: 6em;
    }
}

//mobile
@include media($max-width: $sm-container-width){

    body {
        font-size: $xs-size-m;
    }

    .container {
        width: $xs-container-width;
    }

    .content-wrapper {
        margin-top: 6em;
    }

    .column {
        &.one-third,
        &.two-third {
            @include column(12);
        }
    }

    .input-wrapper {
        width: 250px;
    }

}