extends ./inc/template

block pageVars
  - var pageTitle = ""
  - var pageDescription = "Track your sports life"

block pageContent
  .bg
  .container

    section.column.two-third
      h1.logo
        img(src="/peak/img/peak-logo.svg" alt="Peak Logo")
      h5
        b Peak Performers At Your Fingertips,
        |  High Quality Personalized Fitness Content From Peak Performers

      section.sign-up
        p
          b Sign up now
          |  and stay in touch with us!
        form(action="#" method="post")#email-form
            .input-wrapper
                input(name="email" type="email" placeholder="you@domain.com" required).input-wrapper__input
                span.input-wrapper__icon-wrapper.ss-icon.ss-standard#email-send-btn
                    span.input-wrapper__icon-wrapper__icon

    section.column.one-third
      .preview-wrapper
        img(src="/peak/img/peak-iphone-preview.png" alt="Peak Preview")

